@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');
body {
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

.header {
	padding: 25px 0 10px;
	background: #fff;
	position: relative;
}

.LogoHolder {
	padding: 0;
}

.LogoHolder h1 {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.LogoHolder h1 a {
	display: inline-block;
	float: left;
	overflow: hidden;
	text-decoration: none;
	font-size: 32px;
	font-weight: 900;
	line-height: 35px;
	letter-spacing: 0;
	text-transform: uppercase;
}

.LogoHolder h1 a:active,
.LogoHolder h1 a:hover,
.LogoHolder h1 a:visited {
	color: #181819;
}

.LogoHolder h1 a i {
	color: #2962ff;
}

.LogoHolder h1 a span {
	display: block;
	text-align: right;
	color: #de0f17;
	font-size: 13px;
	font-weight: 600;
	line-height: 15px;
	letter-spacing: 2px;
}

.navigator {
	padding: 0;
}

#sign {
	padding: 0;
	margin: 0;
	float: right;
}

#sign ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
	overflow: hidden;
}

#sign ul li {
	float: left;
	padding: 0px 5px;
}

#sign ul li a {
	display: block;
	background: #2962ff;
	color: #fff;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 20px;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-ms-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
}

#sign ul li a:active,
#sign ul li a:hover,
#sign ul li a:visited {
	color: #fff;
}

#sign ul li a:hover {
	background: #de0f17;
}

#navTrigger {
	display: none;
	width: 40px;
	height: 34px;
	padding: 8px;
	margin-top: 1px;
	margin-right: 1px;
	margin-left: 15px;
	float: right;
	background: #de0f17;
	cursor: pointer;
	position: relative;
}

#navTrigger:hover {
	background: #2962ff;
}

#navTrigger span {
	display: block;
	width: 24px;
	height: 2px;
	background: #fff;
}

#navTrigger span:nth-child(2) {
	margin: 5px 0;
}

.navTrigger {
	background: #2962ff!important;
}

.navTrigger span:nth-child(1) {
	transform: rotatez(45deg);
	position: absolute;
	top: 50%;
}

.navTrigger span:nth-child(2) {
	display: none!important;
}

.navTrigger span:nth-child(3) {
	transform: rotatez(-45deg);
	position: absolute;
	top: 50%;
}

#navArea {
	padding: 0;
	margin: 0;
	float: right;
}

#navArea li {
	padding: 10px 30px 0;
}

#navArea li a {
	display: block;
	text-decoration: none;
	padding: 0 0 10px;
	color: #222;
	margin: 0;
	font-size: 15px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in;
	-ms-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	transition: 0.3s ease-in;
}

#navArea li a:before {
	content: '';
	width: 0%;
	height: 2px;
	background: #2962ff;
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in;
	-ms-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	transition: 0.3s ease-in;
}

#navArea li a:hover {
	background: transparent;
	color: #2962ff;
}

#navArea li a:hover:before {
	width: 100%;
}

#navArea li.active a {
	background: transparent;
	color: #2962ff;
}

#navArea li.active a:before {
	width: 100%;
}

.banner {
	padding: 0;
}

.carousel-indicators {
	bottom: 20%;
}

.carousel-indicators li {
	border-width: 2px;
	margin: 5px 10px;
}

.carousel-indicators .active {
	width: 10px;
	height: 10px;
	margin: 5px 10px;
	background-color: #2962ff;
	border-color: #2962ff;
}

.carousel-caption {
	bottom: 50%;
	transform: translateY(50%);
}

.carousel-caption h3 {
	font-size: 75px;
	font-weight: 900;
	color: #fff;
	line-height: 1.1;
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px rgb(12, 12, 12);
}

.carousel-caption p {
	margin: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 2;
	letter-spacing: 8px;
}

.carousel-control {
	width: 30px;
	height: 60px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;
}

.carousel-control span {
	display: block;
	width: 2px;
	height: 30px;
	background: #fff;
	margin: 0 auto;
}

.carousel-control.left {
	background: transparent;
	left: 30px;
}

.carousel-control.left span:first-child {
	transform: rotate(30deg) translateY(2px);
}

.carousel-control.left span:last-child {
	transform: rotate(-30deg) translateY(-2px);
}

.carousel-control.right {
	background: transparent;
	right: 30px;
}

.carousel-control.right span:first-child {
	transform: rotate(-30deg) translateY(2px);
}

.carousel-control.right span:last-child {
	transform: rotate(30deg) translateY(-2px);
}

.aboutUs {
	padding: 60px 0;
	background: #fff;
}

h6.spreadTitle {
	padding: 0;
	margin: 0 0 15px;
	text-align: center;
	color: #2962ff;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 7px;
	text-transform: uppercase;
}

h3.sectionTitle {
	padding: 0;
	margin: 0;
	color: #262c38;
	text-align: center;
	font-size: 36px;
	font-weight: 900;
	line-height: 40px;
	text-transform: uppercase;
}

h3.sectionTitle:after {
	display: block;
	content: '';
	width: 100px;
	margin: 8px auto 0;
	border-bottom: 2px solid #de0f17;
}

p.sectionSubTitle {
	padding: 0;
	margin: 15px 0 0;
	text-align: center;
	color: #8c8d8e;
	font-size: 16px;
	font-weight: 600;
	font-style: italic;
	line-height: 20px;
	letter-spacing: 2px;
}

.aboutUsSubSection {
	padding: 45px 0 0;
}

.aboutTextArea {
	color: #777;
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
	letter-spacing: 1px;
}

.aboutTextArea ul {
	color: #212121;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.aboutTextArea ul li {
	margin-bottom: 16px;
	text-transform: capitalize;
}

.aboutTextArea ul li i {
	padding-right: 16px;
	color: #de0f17;
}

.aboutGraphArea {
	padding: 30px 15px 0;
}

#graphNumber {
	display: inline-block;
	float: left;
	width: 50px;
	height: 300px;
	margin: 15px 0;
	padding: 0;
	list-style: none;
	color: #262c38;
	font-size: 15px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 1px;
}

#graphNumber li {
	display: block;
	padding-right: 10px;
	text-align: right;
}

#graphNumber li:first-child {
	margin-top: -15px;
}

#graphBar {
	display: inline-block;
	float: left;
	margin: 15px 0 0;
	padding: 0;
	list-style: none;
}

#graphBar li {
	display: inline-block;
	float: left;
	width: 80px;
	height: 300px;
	position: relative;
}

#graphBar li>div {
	display: block;
	width: 70px;
	text-align: center;
	background: #101010;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

#graphBar li>div:hover {
	background: #2962ff;
}

#graphBar li>div:hover:before {
	content: attr(percentage) '%';
	width: 100%;
	color: #262c38;
	font-size: 15px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 1px;
	position: relative;
	bottom: 20px;
}

#graphBar li>span {
	display: block;
	width: 70px;
	position: absolute;
	bottom: -30px;
	right: 0;
	text-align: center;
	color: #262c38;
	font-size: 14px;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 1px;
}

.startSection {
	padding: 0;
}

.startText {
	padding: 15px;
	background: #2962ff;
}

.startText h2 {
	color: #fff;
	margin: 0;
	padding: 80px 0;
	font-size: 40px;
	font-weight: 900;
	line-height: 1;
	letter-spacing: 1px;
	text-align: center;
}

.startLink {
	padding: 15px;
	background: #111;
}

.startLink .startClick {
	padding: 80px 0;
}

.startLink .startClick a {
	display: block;
	text-decoration: none;
	width: 150px;
	height: 40px;
	margin: 0 auto;
	background: #2962ff;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.startLink .startClick a:before {
	content: '';
	width: 150px;
	height: 40px;
	position: absolute;
	z-index: 1;
	background: #de0f17;
	top: 0;
	left: 0;
	border-radius: 20px;
	transform: scaleY(1);
}

.startLink .startClick a>span {
	display: block;
	position: relative;
	z-index: 2;
}

.startLink .startClick a:hover:before {
	transform: scaleY(0);
	transition: .3s ease-out;
}

.servicesSection {
	padding: 60px 0;
	background: #fff;
}

.servicesSection h3.sectionTitle {
	text-transform: unset;
}

.servicesSection h3.sectionTitle:after {
	border-bottom-color: transparent;
}

.servicesAlign {
	padding: 30px 0 0;
}

.servicesAlignSingle {
	padding: 15px;
}

.servicesInner {
	padding: 0;
	overflow: hidden;
	position: relative;
}

.servicesInner img {
	width: 100%;
}

.serviceOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.serviceOverlay a {
	display: block;
	text-decoration: none;
	color: #fff;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.serviceOverlay h3 {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 8px 0;
	background: rgba(23, 22, 27, 0.70);
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.serviceOverlay p {
	opacity: 0;
	transform: scale(0);
	width: 100%;
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 2px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
	transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.servicesInner:hover>.serviceOverlay a {
	background: rgba(23, 24, 24, 0.49);
}

.servicesInner:hover>.serviceOverlay h3 {
	top: 30%;
	transform: translateY(-50%);
}

.servicesInner:hover>.serviceOverlay p {
	opacity: 1;
	transform: scale(1);
}

.videoSection {
	padding: 0;
	background: #2962ff;
}

.videoArea {
	padding: 0;
}

#vidoOutflow {
	display: block;
	padding: 0;
	position: relative;
}

#vidoOutflow img {
	width: 100%;
}

#videoPlay {
	width: 64px;
	height: 64px;
	background: url('../images/play-button.png') no-repeat 0px 0px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}

.videoText {
	padding: 60px;
	color: #fff;
}

.videoText h3 {
	margin: 0 0 20px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 1px;
}

.videoText p {
	margin: 0 0 40px;
	font-size: 18px;
	font-weight: 400;
	line-height: 2;
	letter-spacing: 1px;
	color: #060606;
}

.videoText h4 {
	margin: 0 0 16px;
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 2px;
}

.videoText h4 i {
	width: 45px;
}

.teamSection {
	padding: 60px 0;
	background: #fff;
}

.teamAlign {
	padding: 45px 0 0;
}

.teamSingle {
	padding: 15px;
}

.teamInner {
	padding: 60px 30px;
	background: #0e0e0e;
	border: 2px solid #0e0e0e;
	text-align: center;
	transition: 0.5s ease-in;
}

.teamInner img {
	max-width: 100%;
	border-radius: 50%;
}

.teamInner h3 {
	margin: 30px 0 15px;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 1px;
	color: #fff;
	text-transform: capitalize;
}

.teamInner p {
	margin: 0 0 15px;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 2px;
	color: #4f5667;
}

.teamInner ul {
	padding: 24px 0;
	margin: 0;
	list-style: none;
	border-top: 2px solid #252323;
	transition: 0.5s ease-in;
}

.teamInner ul li {
	display: inline-block;
}

.teamInner ul li a {
	display: block;
	text-decoration: none;
	padding: 0 10px;
	margin: 0;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	transition: 0.5s ease-in;
}

.teamInner ul li a:hover {
	color: #de0f17;
}

.teamSingle:hover .teamInner {
	border-color: #2962ff;
}

.teamSingle:hover .teamInner ul {
	border-color: #de0f17;
}

.footer {
	padding: 60px 0;
	background: #111;
}

.footerThreeScetion {
	padding: 0 0 30px;
}

.footerThreeSingle {
	padding: 0 15px 30px;
}

.footerThreeSingle h3 {
	padding: 0 0 20px;
	margin: 0 0 40px;
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 1px;
	position: relative;
}

.footerThreeSingle h3:after {
	content: '';
	width: 60px;
	height: 2px;
	background: #2962ff;
	position: absolute;
	bottom: 0;
	left: 0;
}

.twitterFeed {
	padding: 0;
}

.twitterFeed ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.twitterFeed ul li {
	margin-top: 30px;
	color: #696868;
	font-size: 15px;
	font-weight: 600;
	line-height: 1.75;
	letter-spacing: 1px;
}

.twitterFeed ul li:first-child {
	margin-top: 0px;
}

.twitterFeed ul li i {
	width: 30px;
	color: #0accff;
}

.twitterFeed ul li span {
	display: block;
	color: #fff;
	margin-top: 10px;
	font-weight: 700;
}

.twitterFeed ul li a {
	text-decoration: none;
	color: #ff464f;
	transition: .3s ease-in;
}

.twitterFeed ul li a:hover {
	color: #fff;
}

.siteLink {
	padding: 0;
}

.siteLink ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.siteLink ul li {
	display: block;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 15px;
}

.siteLink ul li i {
	padding-right: 15px;
	color: #de0f17;
}

.siteLink ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: .3s ease-in;
}

.siteLink ul li a:hover {
	color: #2962ff;
}

.instaPost {
	padding: 0;
}

.instaSingle {
	padding: 0;
	overflow: hidden;
}

.instaSingle img {
	width: 100%;
	transition: .5s ease-out;
}

.instaSingle:hover img {
	transform: scale(1.1);
}

.newsletterScetion {
	padding: 30px;
	margin-bottom: 30px;
	background: #1d1d1f;
}

.newsletterScetion input[type=email] {
	width: 72%;
	float: left;
	margin-right: 3%;
	padding: 15px;
	background: #fff;
	border: none;
	outline: none;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 2px;
	color: #212121;
}

.newsletterScetion input[type=submit] {
	width: 25%;
	float: left;
	background: #de0f17;
	color: #fff;
	padding: 15px 0;
	margin: 0;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 2px;
	border: none;
	outline: none;
	transition: .5s ease-in;
	text-transform: uppercase;
}

.newsletterScetion input[type=submit]:hover {
	background: #2962ff;
}

.footerInformation {
	padding: 15px;
}

.footerInformation i {
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto 15px;
	text-align: center;
	background: #2962ff;
	color: #fff;
	font-size: 16px;
	line-height: 60px;
	border-radius: 50%;
}

.footerInformation p {
	margin: 0;
	color: #696868;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	line-height: 2;
	letter-spacing: 1px;
}

.footerCopyright {
	padding: 15px;
	background: #1d1d1f;
	text-align: center;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	line-height: 2;
	letter-spacing: 2px;
}