@media screen and (max-width:1199px) {
	#navArea li {
		padding: 10px 15px 0;
	}
	#graphBar li {
		width: 65px;
	}
	#graphBar li > div {
		width: 55px;
	}
	.videoText {
		padding: 40px;
	}
	.teamInner {
		padding: 60px 20px;
	}
}

@media screen and (max-width:991px) {
	#navTrigger {
		display: block;
		position: relative;
		z-index: 1000;
	}
	#navArea {
		display: flex;
		position: fixed;
		z-index: 999;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, .7);
		transform: scale(0);
		opacity: 0;
	}
	.navbar-nav {
		float: none;
		margin: auto;
	}
	.navbar-nav>li {
		display: block;
		float: none;
		text-align: center;
	}
	#navArea li a {
		color: #fff;
		font-size: 25px;
	}
	.navArea {
		transform: scale(1)!important;
		opacity: 1!important;
	}
	.carousel-caption h3 {
		font-size: 60px;
	}
	.startText h2 {
		padding: 40px 0;
	}
	.startLink .startClick {
		padding: 40px 0;
	}
}

@media screen and (max-width:870px) {
	.carousel-caption h3 {
		font-size: 45px;
	}
}

@media screen and (max-width:599px) {
	.LogoHolder {
		width: 100%;
	}
	.navigator {
		width: 100%;
	}
	#navTrigger {
		margin-left: 0;
		position: absolute;
		top: -35px;
		right: 5px;
	}
	#sign {
		margin: 15px auto 0;
		;
	}
	.carousel-caption h3 {
		font-size: 30px;
	}
	.carousel-caption p {
		font-size: 12px;
	}
}

@media screen and (max-width:499px) {
	.carousel-indicators {
		bottom: 10%;
	}
	.carousel-caption h3 {
		font-size: 24px;
	}
	.carousel-caption p {
		font-size: 10px;
	}
	.startText h2 {
		font-size: 30px;
	}
	.servicesAlignSingle {
		width: 100%;
	}
	#graphBar li {
		width: 50px;
	}
	#graphBar li>div {
		width: 40px;
	}
	.videoText {
		padding: 30px 15px;
	}
	.newsletterScetion input[type=email] {
		width: 100%;
		margin-left: 0;
	}
	.newsletterScetion input[type=submit] {
		width: 100%;
	}
}

@media screen and (max-width:399px) {
	.carousel-indicators {
		bottom: 5%;
	}
	.carousel-caption {
		display: none;
	}
	.aboutGraphArea {
		display: none;
	}
	.videoText h4 i {
		width: 30px;
	}
}